* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f2f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.botao {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;

}

.botao-delete {
  background-color: #c45252;
  color: rgb(255, 255, 255);
  border: none;
  padding: 6px 6px;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 20px;
}
.botao:hover {
  background-color: #0056b3;
}

.sucesso {
  color: green;
  font-weight: bold;
}

.href {
  text-decoration: none;
  color: black;
}