<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Finalizar Gesto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/finalizar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/componentesGerais.css') }}">
</head>
<body>
  <div class="container">
    <button class='botao' onclick="location.href='index.html'">Home</button>
    <div class="botoes">
      <button class="botao" onclick="location.href='gravacao-iniciou.html'">Gravar novamente</button>
      <button class="botao">Parar Gravação</button>
    </div>
    <p class="sucesso">Seu gesto foi gravado!</p>
    <label>Insira o nome do seu novo gesto:</label>
    <input type="text" placeholder="nome do gesto...">
    <button class="botao">Cadastrar</button>
  </div>
</body>
</html>
