<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Movimentos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/movimentos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/componentesGerais.css') }}">
</head>
<body>
  <div class="'container">
    <a class="botao" href="{{ url_for('home') }}">Home</a><table>
      <thead>
        <tr>
          <th>GESTO</th>
          <th>SIGNIFICADO</th>
        </tr>
      </thead>
      <tbody>
        {% for m in movimentos %}
        <tr><td>{{ m.gesto }}</td><td class="div-movimentos">{{ m.significado }}<a class='botao-delete' href="{{ url_for('removerMovimento', gesto=m.gesto) }}">Apagar</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="botao" href="{{ url_for('mov_pre_definidos') }}">Cadastrar novo movimento</a>
  </div>
</body>
</html>
