<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Movimentos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/movimentos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/componentesGerais.css') }}">
</head>
<body>
  <div class="'container">
    <button class='botao' onclick="location.href='index.html'">Home</button>
    <table>
      <thead>
        <tr>
          <th>GESTO</th>
          <th>SIGNIFICADO</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>B</td><td class="div-movimentos">Luz do banheiro<button class='botao-delete'>Apagar</button></td></tr>
        <tr><td>S</td><td class="div-movimentos">Luz da sala<button class='botao-delete'>Apagar</button></td></tr>
        <tr><td>C</td><td class="div-movimentos">Luz da cozinha<button class='botao-delete'>Apagar</button></td></tr>
      </tbody>
    </table>
    <button class='botao' onclick="location.href='tipo-gesto.html'">Cadastrar novo movimento</button>
  </div>
</body>
</html>
