<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Tipo de Gesto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tipo-gesto.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/componentesGerais.css') }}">
</head>
<body>
  <div class="container">
    <button class='botao' onclick="location.href='index.html'">Home</button>
    <label>Sobre o que será o seu gesto?</label>
    <select>
      <option class="botao">acender luz</option>
      <option class="botao">tocar musica</option>
    </select>
    <button class="botao" onclick="location.href='gravar.html'">Seguinte</button>
  </div>
</body>
</html>
